appdirs==1.4.4
cfgv==3.2.0
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
identify==2.0.0
importlib-metadata==3.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
nodeenv==1.5.0
pre-commit==2.10.1
psutil==5.8.0
PyYAML==5.4.1
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
virtualenv==20.4.2
Werkzeug==1.0.1
zipp==3.4.0
