appdirs==1.4.4
cfgv==3.2.0
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
identify==2.0.0
imbalanced-learn==0.8.0
importlib-metadata==3.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
kaggle==1.5.10
MarkupSafe==1.1.1
matplotlib==3.3.4
nodeenv==1.5.0
numpy==1.20.1
pandas==1.2.3
pre-commit==2.10.1
psutil==5.8.0
PyYAML==5.4.1
scikit-learn==0.24.1
sklearn==0.0
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
virtualenv==20.4.2
Werkzeug==1.0.1
zipp==3.4.0
